:root {
    --orange: #f5841f;
    --black: #000000;
    --light-blue: #8ECAE6;
    --dark-blue: #16213C;
    --white: #FFFFFF;
    --gray: #D9D9D9;
}

    body {
        font-family: 'Abhaya Libre';
    }

    .heading-orange {
        color: var(--orange);
    }

    .logo {
        display: flex;
        gap: 10px;
    }

    img {
        width: 75%;
    }

    .p-bold {
        font-weight: bold;
    }

    .h3-orange {
        color: var(--orange);
    }

@media only screen and (max-width: 768px) {
    main {
        padding: 15px;
    }

    header {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-items: stretch;
        justify-content: space-between;
        gap: 15%;
        align-items: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
    }

    .logo__hamburger {
        padding: 10px;
    }

    .header__contact > a {
        color: var(--black);
        text-decoration: none;
    }

    .header__contact > a:nth-child(3) {
        padding-top: 5%;
    }

    .header__contact {
        display: flex;
        align-items: center;
        gap: 9px;
        padding-bottom: 20px;
    }
    
    .header__contact > img {
        width: 24px;
        height: 24px;
    }

    header > a {
        color: white;
        background-color: var(--orange);
        padding: 12px 24px;
        border-radius: 30px;
        text-decoration: none;
        font-size: 16px;
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 6.5px;
    }

    .home {
        width: 16px;
        height: 17.5px;
    }

    .ellipse {
        width: 4px;
        height: 4px;
    }

    .logoipsum {
        font-size: 25px;
        font-weight: bolder;
        gap: 12px;
    }

    .logo__hamburger {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h1 {
        font-size: 40px;
        font-weight: 700;
    }

    h2 {
        font-size: 33px;
    }

    .videotutorials {
        display: flex;
        flex-direction: column;
    }

    .arrow > img {
        width: 75px;
        height: 75px;
        padding-bottom: 17px;
    }

    .videotutorials > p {
        font-size: 19px;
    }

    section {
        display: flex;
        overflow: scroll;
        gap: 32px;
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 300px;
        height: 171px;
        border: 1px solid var(--gray);
        border-radius: 8px;
        padding: 0 28px;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .bottom > h3 {
        font-size: 33px;
    }

    .bottom > a {
        text-decoration: none;
        text-align: center;
    }

    .bottom > p {
        font-size: 20px;
        text-align: center;
    }

    .email1 {
        color: var(--black);
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 51px;
    }

    .email2 {
        color: var(--white);
        background-color: var(--orange);
        padding: 12px 24px;
        border-radius: 30px;
    }

    .call {
        color: var(--black);
        border: 4px solid var(--orange);
        padding: 12px 24px;
        border-radius: 30px;
    }

    footer {
        background-color: var(--dark-blue);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px;
    }

    .a-footer {
        color: var(--light-blue);
        text-decoration: none;
        font-size: 16px;
    }

    .footer__logo {
        color: var(--light-blue);
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
    }

    .footer__section > h3 {
        color: var(--light-blue);
    }

    .footer__section-last > h3 {
        color: var(--light-blue);
    }

    .logoipsum {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    .logoipsum > img {
        width: 40px;
        height: 40px;
    }

    .adress {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px 0 50px 0;
    }

    .footer__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px 0 50px 0;
    }

    .footer__section-last {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px 0 0 0;
    }

    .footer__contact {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .footer__contact > img {
        max-width: 16px;
        max-height: 16px;
    }
}

@media only screen and (min-width: 768px) {
    /*zkopírovat všude*/
    html {
        font-size: 14px;
    }

    main {
        padding: 61.5px 15% 0 15%;
    }

    a {
        text-decoration: none;
        color: var(--black);
    }
    header {
        display: flex;
        justify-content: space-between;
        background-color: var(--gray);
        padding: 10px 15%;
    }

    .header__contact {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .header__contact > img {
        width: 16px;
        height: 16px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo > img {
        width: 40px;
        height: 40px;
    }

    .logo > p {
        font-size: 18px;
        font-weight: bold;
    }

    .logo__hamburger {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .try {
        color: var(--white);
        background-color: var(--orange);
        width: 148px;
        height: 43px;
        border-radius: 30px;
        padding: 12px 24px;
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 6.5px;
    }

    .home {
        width: 16px;
        height: 17.5px;
    }

    .ellipse {
        width: 4px;
        height: 4px;
    }

    .videotutorials {
        display: flex;
        justify-content: space-between;
    }

    .arrow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arrow > img {
        height: 75px;
        width: 75px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        background-color: var(--dark-blue);
        padding: 75px 15% 75px 15%;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        background-color: var(--gray);
        gap: 32px;
        padding: 95px;
        margin: 0 -10%;
    }

    article {
        display: flex;
        flex-direction: column;
        max-width: 225px;
        max-height: 150px;
        overflow: hidden;
        padding: 30px;
        background-color: var(--white);
        border-radius: 8px;
    }
    
    article > p {
        max-height: 64px;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .bottom > h3 {
        font-size: 33px;
    }

    .bottom > a {
        text-decoration: none;
        text-align: center;
    }

    .bottom > p {
        font-size: 20px;
        text-align: center;
    }

    .email1 {
        color: var(--black);
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 51px;
    }

    .email2 {
        color: var(--white);
        background-color: var(--orange);
        padding: 12px 24px;
        border-radius: 30px;
    }

    .call {
        color: var(--black);
        border: 4px solid var(--orange);
        padding: 12px 24px;
        border-radius: 30px;
        margin-bottom: 104px;
    }


    .logoipsum {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    .logoipsum > img {
        width: 40px;
        height: 40px;
    }

    .footer__section > h3 {
        color: var(--light-blue);
    }

    .footer__section-last > h3 {
        color: var(--light-blue);
    }

    .a-footer {
        color: var(--light-blue);
    }

    .footer__logo {
        color: var(--light-blue);
        font-size: 20px;
        font-weight: bold;
    }

    .footer__contact > img {
        width: 16px;
        height: 16px;
    }

    .adress {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .footer__section {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .footer__section-last {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
}