@media (max-width: 768px) {
    .navbar__menu--hidden {
        display: none;
    }
}
@media (min-width: 768px) {
    .navbar__hamburger {
        display: none;
    }
}

.navbar {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
/* hamburger menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    text-transform: uppercase;
    font-size: 0.75em;
    text-decoration: none;
}

.hamburger-menu::after {
    content: url(../pictures/hamburger.svg);
}